@import '../../lib/css/split-pane.css';

.Pane {
  overflow: hidden;

  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}

pre {
  width: 100%;
  margin-bottom: 0 !important;
}

.utils-bar {
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: white;
  display: flex;

   &__btn {
       flex-shrink: 0;
   }
}
