@import '../../lib/css/split-pane.css';

.Pane {
  overflow: hidden;

  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}

pre {
  width: 100%;
  margin-bottom: 0 !important;
}
