@import '../../../lib/css/tree-view';

$node-name: #668a36;
$node-attr-name: #b7b7b7;
$node-attr-value: #5581b9;
$node-attr-value-background: #eaf2fc;
$node-value: #111;

$purple: #7653C1;
$light-purple: #ece7f5;

$hover-highlight: #fbf4b9;
$select-highlight: #efefef;

.DOMViewer {
  padding: 10px;
}

.tree-view {
  overflow: visible;

  &_arrow {
    vertical-align: top;
  }
}

.Node {
  font-family: 'Inconsolata', monospace;
  letter-spacing: -0.01em;

  &:hover {
    background-color: $hover-highlight;
  }

  &--selected,
  &--selected:hover {
    background-color: $select-highlight;
  }

  &--leaf {
    padding-left: 15px;  // compensate for arrow
  }

  &__label {
    display: inline-block;  // to allow word wrap
    text-indent: -1.5em;
    padding-left: 1.5em;
    cursor: pointer;
    width: 90%;  // click (mostly) anywhere on the line to toggle
  }

  &__attr-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;

    & > li {
      display: inline;
      word-break: break-word;
    }
  }

  &__name {
    color: $node-name;
  }

  &__attr-name {
    color: $node-attr-name;
    margin-left: 0.5em;
    font-style: italic;

    &::after {
      content: '=';
      color: lightgrey;
    }
  }

  &__attr-value--class {
    margin-left: 0.5em;
    color: $node-attr-value;
    background-color: $node-attr-value-background;

    &::before {
      content: '.';
    }
  }

  &__attr-value--id {
    margin-left: 0.5em;
    color: $purple;
    background-color: $light-purple;

      &::before {
        content: '#';
      }
  }

  &__value {
    color: $node-value;
  }

  &__child-value {
    color: $node-value;
    margin-left: 0.5em;
  }
}
