$padding-sides: 12px;

@mixin a11y-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin small-caps {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #999;
}

.StyleViewer {
  &__none-selected {
    display: block;
    padding: 10px;
  }
}

.ComputedStylesPane {
  width: 100%;  // parent is flex
  height: 100%;  // get last child to scroll
  position: relative;

  // Let computed styles scroll correctly
  display: flex;
  flex-direction: column;

  &__tabs {
    @include small-caps;
    width: 100%;
    padding-top: 4px;
    // Extend Uikit border bottom
    padding-right: 20px;
    margin-bottom: 0;

    // Prevent header from getting crushed
    flex-shrink: 0;

    // Display the header properties in a row
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__options {
    // Remove default list styles.
    margin: 0;
    padding: 5px 0;
    list-style: none;
    flex-grow: 1;

    // Flex options in a row.
    display: flex;
    justify-content: flex-end;

    // Spacing between options
    > li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    input[type="checkbox"] {
      margin-right: 5px;
      height: 11px;
      width: 11px;
    }
  }

  // Enable scrolling.
  &__content {
    height: 100%;
    overflow-y: auto;
  }

  &__loading {
    margin: 10px;
  }

  &__computed-list {
    // Give the last element the same
    // amount of padding.
    margin-bottom: 2px;

    th {
      @include a11y-hidden;
    }

    td {
      padding: 2px $padding-sides;
      font-family: 'Inconsolata', monospace;
      letter-spacing: -0.01em;

      // Evenly space columns and text within them
      width: 50%;
      vertical-align: middle;
    }
  }
}

