@import '../../globals.scss';

.StyleViewer {
  &__none-selected {
    display: block;
    padding: 10px;
  }
}

.ElementStyles {
  width: 100%;  // parent is flex
  height: 100%;  // get last child to scroll
  position: relative;

  // Let computed styles scroll correctly
  display: flex;
  flex-direction: column;

  &__loading {
    margin: 10px;
  }

  &__toolbar {
    @include small-caps;

    // Display the header properties in a row
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    // Prevent header from getting crushed
    flex-shrink: 0;

    width: 100%;
    padding-top: 4px;
    padding-right: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #eaeaea;
  }

  &__tabs {
    margin-bottom: 0;
  }

  &__options {
    // Remove default list styles.
    margin: 0;
    padding: 5px 0;
    list-style: none;
    flex-grow: 1;

    // Flex options in a row.
    display: flex;
    justify-content: flex-end;

    // Spacing between options
    > li {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    input[type="checkbox"] {
      margin-right: 5px;
      height: 11px;
      width: 11px;
    }
  }

  // Enable scrolling.
  &__content {
    height: 100%;
    overflow-y: auto;
    padding: ($padding-sides / 2) $padding-sides;
  }
}

