* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

// Overrides for react-split-pane
.Pane {
  height: 100%;

  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
}
